/*Általános*/
	*, *::before, *::after{
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
	body{
		font-size: 16px;
		background: fixed;
		background-image: url(../css/kepek/hatter_fo.jpg);
		background-position: center;
		
		/*background: url(../css/kepek/hatter_fo.jpg) no-repeat center center fixed;*/
	/*kompatibilitáshoz:	*/
	  	/*-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;*/
		background-size: cover;
	}
	a{
		text-decoration: none;
		color: black;
		font-family: 'Oswald', sans-serif;
		font-weight: 400;
	}
	img{
		max-width: 100%;
	}
/*Általános*/

/*felépítés*/
	body{
		display: grid;
		grid-template-areas: 
		"fejlec"
		"tartalom"
		"lablec"
		;
		min-height: 100vh;
		grid-template-rows: max-content 1fr max-content;
	}

	header{
		grid-area: fejlec;
	}
	main{
		grid-area: tartalom;
	}
	footer{
		background-color: lightblue;
		grid-area: lablec;
	}
/*felépítés*/

/*Fejléc*/
	header{
		display: flex;
		flex-wrap: wrap;
		height: 4rem;
	}
	.fejlec_box{
		display: inline-block;
		border: 1px solid #DCDCDC;
		background-color: #DCDCDC;
		padding: 0.5rem 0.6rem;
		margin: 0.4rem 0.6rem;
		border-radius: 0.5rem;
		min-width: max-content;
		line-height: 2rem;
		max-height: 3rem;
		-webkit-box-shadow: 2px 2px 10px -1px rgba(0,0,0,0.6); 
		box-shadow: 2px 2px 10px -1px rgba(0,0,0,0.6);

		transition: 0.2s;
	}

	.fejlec_box:hover{
		background-color: #EEEEEE;
		border-color: #CCCCCC;
		color: black;
		cursor: pointer;
	}
	.flex_jobbra{
		text-align: left;
		flex-grow: 1;
	}
	/*ugrálás megakadályozása: */
	@media only screen and (min-width: 420px){
		.flex_jobbra{
			text-align: right;
			flex-grow: 1;
		}
		.fejlec_box:hover{
		padding: 0.75rem 1rem;
		max-height: 4rem;
		font-size: 1.25rem;
		}	
	}
/*Fejléc*/

/*Lábléc*/
	footer{
		vertical-align: text-bottom;
	}
	footer span{
		text-decoration: underline;
		margin-left: 0.5rem;
	}
	footer a{
		display: block;
		margin: 0.2rem 1rem;
	}
	@media only screen and (min-width: 315px){
		footer a{
			display: inline-block;
		}
		#el_facebook{
			float: right;
		}
	}
/*Lábléc*/



/*Főoldal*/
	@keyframes BalrolCsuszas{
	  0% {
	    transform: translateX(-100%);
	  }
	  100% {
	    transform: translateX(0);
	  }
	}	
	#nagy_nev{
		position: absolute;
		top: 40%;
		left: 20%;
		animation: 1s ease-out 0s 1 BalrolCsuszas;
		margin-left: 2rem;
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 3rem;	
		text-shadow: 2px 1px #666666;
	}
	#nagy_portf{
		position: absolute;
		top: 40%;
		left: 20%;
		margin-top: 8rem;
		animation: 1s ease-out 0s 1 BalrolCsuszas;
		font-family: 'Oswald', sans-serif;
		font-weight: 700;
		font-size: 1.5rem;
		text-shadow: 1px 1px #666666;
	}
	@media only screen and (min-width: 420px){
		#nagy_nev{
			font-size: 4.25rem;
		}
		#nagy_portf{
			font-size: 3rem;
		}
	}
	@media only screen and (min-width: 315px){
		#nagy_portf{
			margin-top: 5rem;
		}
	}
/*Főoldal*/



/*Munkáim_oldal*/
	/*.munkak_racs{
		display: flex;
		flex-wrap: wrap;
		max-height: 20rem;
	}
	.munka_egesz .kep img{
		height: 10rem;

	}*/
	.munkak_racs{
		display: grid;
		margin-top: 5rem;
		margin-left: 8%;
		margin-right: 8%;
		grid-template-columns: 1fr;
		grid-gap: 20px;
	}
	.munka_egesz{
		text-align: center;
		max-width: 15rem;		
	}
	.kep img,video{
		border: 1px solid grey;
	}
	.kep video{
		height: 100%;
		width: 100%;
		object-fit: contain;
	}
	.nemsajat{
		color: darkred;
	}
	@media only screen and (min-width: 320px){
		.munkak_racs{
			grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
		}
	}
	@media only screen and (min-width: 1150px){
		.munkak_racs{
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
	@media only screen and (min-width: 320px){
		.munka_egesz{
			max-width: 25rem;
		}
	}
/*Munkáim_oldal*/



/*Rólam_oldal*/
	@keyframes megjelenes{
	  0% {
	    opacity: 0;
	  }
	  100% {
	    opacity: 1;
	  }
	}
	.rolam_irat{
		font-family: 'Noto Sans', sans-serif;
		font-weight: 300;
		animation: 1.5s ease-out 0s 1 megjelenes;
		margin: 5rem 1rem 0 0;
		border: 2px solid black;
		border-radius: 0 20px 20px 0; 
		line-height: 1.5rem;
		max-width: 1200px;
		background-color: #E3E3E3;
		-webkit-box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.45); 
		box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.45);
	}
	#rolam_cim{
		margin: 0.8rem 1rem;
		font-size: 1.75rem;
	}
	.rolam_irat h2{
		text-decoration: underline;
		margin-top: 2.5rem;
		margin-left: 1rem;
		font-size: 1rem;
	}
	.rolam_irat p{
		margin-left: 0.5rem;
		font-size: 0.8rem;
		padding: 0.5rem 1rem;
	}
	ul{
		list-style-type: circle;
	}
	@media only screen and (min-width: 350px){		
		.rolam_irat h2{
			margin-left: 1.75rem;
			font-size: 1rem;
		}
		.rolam_irat p{
			margin-left: 2rem;
			font-size: 1rem;	
		}
		#rolam_cim{
			font-size: 2.25rem;
			margin: 1rem 2rem;
		}
	}
	@media only screen and (min-width: 620px){
		.rolam_irat{
			line-height: 2rem;
		}
		.rolam_irat h2{
			margin-left: 2.25rem;
			font-size: 1.5rem;
		}
		.rolam_irat p{
			margin-left: 3rem;
			font-size: 1.5rem;	
		}
		#rolam_cim{
			font-size: 3.25rem;
			margin: 2rem 2rem;
		}
	}
/*Rólam_oldal*/



/*Domukentáció*/
	.keret{
		font-family: 'Noto Sans', sans-serif;
		font-size: 0.8rem;
		margin-top: 0rem;
		margin-bottom: 0rem;
		margin-left: 8%;
		margin-right: 8%;
		margin-top: 5rem;
		margin-bottom: 1.5rem;
		border: 1px solid white;
		border-radius: 30px;
		padding: 0.4rem;
		background-color: white;
		-webkit-box-shadow: 3px 3px 10px 5px rgba(0,0,0,0.5); 
		box-shadow: 3px 3px 10px 5px rgba(0,0,0,0.5);
	}
	.keret * img{
		border: 1px solid grey;
		max-width: 1000px;
	}
	.keret * p{
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}
	.bekezdes img{
		margin: 0.5rem 0 0.5rem 5%;
	}
	#doku1{
		width: 80%;
		min-width: 175px;
	}
	#doku2{
		width: 40%;
		min-width: 120px;
	}
	#doku3{
		width: 80%;
		min-width: 175px;
	}
	.dolt{
		font-style: italic;
	}
	.athuzas{
		text-decoration: line-through;
	}
	#doku4{
		margin: 0;
		margin-top: 1rem;
		display: inline-block;
		/*margin-left: 20%;*/
		width: 60%;
		min-width: 150px;
	}
	.bekezdes div video{
		display: inline-block;
		width: 40%;
		object-fit: contain;
		min-width: 150px;
	}
	@media only screen and (min-width: 420px){
		.keret{
			font-size: 1rem;
			padding: 1rem;
		}
		.bekezdes p{
			margin-bottom: 1.5rem;
		}
	}
	@media only screen and (min-width: 720px){
		.bekezdes p{
			margin-left: 1rem;
		}
		.keret{
			font-size: 1.25rem;
		}
	}
/*Domukentáció*/
